<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>

{% if messages %}
{% for message in messages%}
{% if message.tags %}
<script>alert("{{ message }}")</script>
{% endif %}
{% endfor %}
{% endif %}

<body>
<h3>Delete User</h3>
    <form action="" method="POST" name="deleteuser">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username">
        <button type="submit">Submit</button>
    </form>
</body>
</html>