<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="home">
        <div class="text">Dashboard - User's<br><br>
            <div style="background-color: white; border-radius: 25px; box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
            border-collapse: collapse; /* Optional: Remove border spacing between cells */
            width: 100%;">
                <h3 style="padding: 20px;">User's Table</h3><br>
                <table class="table" style="display: flexbox;
            overflow: auto; width: 100%; padding: 10px; height: 100%;">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Mobilenumber</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{% url 'Update_User' %}" method="post">
                            {% for data in admindata %}
                            {% csrf_token %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a style="cursor: pointer;" href="{% url 'list_profile' id=data.username %}"><input type="text" name="username" value="{{ data.username}}"></a></td>
                                <td><input type="text" name="firstname" value="{{ data.firstname}}"></td>
                                <td><input type="text" name="lastname" value="{{ data.lastname}}"></td>
                                <td><input type="text" name="mobilenumber" value="{{ data.mobilenumber}}"></td>
                                <td>
                                    <select id="Role" name="Role">
                                        <option value="Superadmin" {% if data.Role == 'Superadmin' %}selected{% endif %}>
                                            Superadmin
                                        </option>
                                        <option value="Admin" {% if data.Role == 'Admin' %}selected{% endif %}>
                                            Admin
                                        </option>
                                        <option value="Teacher" {% if data.Role == 'Teacher' %}selected{% endif %}>
                                            Teacher
                                        </option>
                                        <option value="Student" {% if data.Role == 'Student' %}selected{% endif %}>
                                            Student
                                        </option>
                                    </select>
                                </td>
                                <td><a href="{% url 'Delete_User' id=data.username %}"><i style="font-size:22px"
                                            class="fa">&#xf1f8;</i></a>&emsp;&emsp;<button type="submit" id="pencil"
                                        class="glyphicon glyphicon-pencil"></button>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </form>
                        <form action="{% url 'createuser' %}" method="post">
                            {% csrf_token %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><input type="text" name="username" placeholder="New Username"></td>
                                <td><input type="text" name="firstname" placeholder="New Firstname"></td>
                                <td><input type="text" name="lastname" placeholder="New Lastname"></td>
                                <td><input type="text" name="mobilenumber" placeholder="New Mobilenumber"></td>
                                <td><select id="Role" name="Role">
                                        <option value="Default">Default</option>
                                        <option value="Superadmin">Superadmin</option>
                                        <option value="Admin">Admin</option>
                                        <option value="Teacher">Teacher</option>
                                        <option value="Student">Student</option>
                                    </select></td>
                                <td><button>
                                        <span class="glyphicon glyphicon-ok">&emsp;<button type="reset"><i
                                                    class="material-icons"
                                                    style="font-weight: 24px; text-align: center;">&#xe14c;</i></button></span>
                                    </button></td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>